<components-header pageName="Consultar / Actualizar evaluacion"></components-header>

<ion-content padding>
  <form>
    <div [ngSwitch]="estadoPag">
      <div *ngSwitchCase="'listEvaluations'">
        <ion-list>
          <ion-list-header>
            Evaluaciones disponibles
          </ion-list-header>
          <button ion-item *ngFor="let exam of exams" (click)="itemSelected(exam)">
            {{exam.name}}
          </button>
        </ion-list>
      </div>

      <div *ngSwitchCase="'detalleEvaluations'">

        <ion-list>
          <ion-list-header>
            Detalles de la evaluacion
          </ion-list-header>

          <ion-item>
            <ion-label color="primary">Nombre: </ion-label>
            <ion-input type="text" disabled={{noActualizar}} text-right [(ngModel)]="detail_exam.name" [ngModelOptions]="{standalone: true}"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label color="primary">Curso seccion: </ion-label>
            <ion-input type="text" disabled="true" text-right [(ngModel)]="course_period.period" [ngModelOptions]="{standalone: true}"></ion-input>
          </ion-item>

          <ion-item>
              <ion-label color="primary">Tema: </ion-label>
              <ion-input type="text" disabled="true" text-right [(ngModel)]="tema.name" [ngModelOptions]="{standalone: true}"></ion-input>
          </ion-item>

          <ion-item>
              <ion-label>Fecha de inicio:</ion-label>
              <ion-datetime disabled={{noActualizar}} displayFormat="DD-MM-YYYY HH:mm:ss" pickerFormat="DD-MM-YYYY HH:mm:ss" [(ngModel)]="detail_exam.start_datetime" [ngModelOptions]="{standalone: true}"></ion-datetime>
          </ion-item>

          <ion-item>
              <ion-label>Fecha de fin:</ion-label>
              <ion-datetime disabled={{noActualizar}} displayFormat="DD-MM-YYYY HH:mm:ss" pickerFormat="DD-MM-YYYY HH:mm:ss" [(ngModel)]="detail_exam.end_datetime" [ngModelOptions]="{standalone: true}"></ion-datetime>
          </ion-item>


          <ion-item>
              <ion-label color="primary"># Preguntas: </ion-label>
              <ion-input disabled={{noActualizar}} type="number" [(ngModel)]="detail_exam.questions_count" [ngModelOptions]="{standalone: true}" text-right min=1 max=10></ion-input>    
          </ion-item>

          <ion-item>
              <ion-label color="primary">Puntos en contra </ion-label>
              <ion-input disabled={{noActualizar}} type="number" [(ngModel)]="detail_exam.error_points" [ngModelOptions]="{standalone: true}" text-right min=0 max=5 step=0.25></ion-input>
          </ion-item>
        
          <ion-item>
              <ion-label color="primary">Duracion(min) : </ion-label>
              <ion-input disabled={{noActualizar}} type="number" [(ngModel)]="duracion_examen" [ngModelOptions]="{standalone: true}" text-right min=0></ion-input>
          </ion-item>
        
          <ion-item>
              <ion-label color="primary"># Intentos: </ion-label>
              <ion-input disabled={{noActualizar}} type="number" [(ngModel)]="detail_exam.attempts_allowed" [ngModelOptions]="{standalone: true}" text-right min=1 max=3 step=1></ion-input>
          </ion-item>

          <ion-item>
              <ion-label>Dificultad</ion-label>
              <ion-range disabled={{noActualizar}} min="1" max="3" step="1" snaps="true" [(ngModel)]="detail_exam.difficulty_level" [ngModelOptions]="{standalone: true}" color="dark">
                <ion-icon range-left small name="ios-star-outline"></ion-icon>
                <ion-icon range-right name="ios-star"></ion-icon>
              </ion-range>
          </ion-item>

          <ion-item>
              <ion-label>Tipo de examen:</ion-label>
              <ion-select disabled={{noActualizar}} [(ngModel)]="detail_exam.type" [ngModelOptions]="{standalone: true}">
                <ion-option value=4>Control de lectura</ion-option>
                <ion-option value=5>Examen parcial</ion-option>
                <ion-option value=6>Examen final</ion-option>
                <ion-option value=7>Examen general</ion-option>
              </ion-select>
          </ion-item>

          <ion-item>
              <ion-label>Codigo requerido</ion-label>
              <ion-checkbox disabled={{noActualizar}} [(ngModel)]="codReq" [ngModelOptions]="{standalone: true}"></ion-checkbox>
          </ion-item>

          <div *ngIf="codReq" class="wrapper">
            <ion-item>
               <ion-label color="primary">Codigo de acceso: </ion-label>
               <ion-input disabled={{noActualizar}} type="text" text-right [(ngModel)]="detail_exam.access_code" [ngModelOptions]="{standalone: true}"></ion-input>
            </ion-item>
          </div>
          
          <ion-item>
            <ion-label>Estado de la evaluacion:</ion-label>
            <ion-select disabled={{noActualizar}} [(ngModel)]="detail_exam.state" [ngModelOptions]="{standalone: true}">
              <ion-option value=20> En edicion   </ion-option>
              <ion-option value=21> Activado   </ion-option>
              <ion-option value=22> Inhabilitado </ion-option>
              <ion-option value=23> Habilitado </ion-option>
            </ion-select>
          </ion-item>

        </ion-list>

        <div *ngIf="!noActualizar" class="wrapper">
          <button class="button" ion-button full color="secondary" (click)="actualizarData()">Actualizar</button>
          <button ion-button full color="danger" (click)="atrasFunc()">Atras</button>
        </div>
        <div *ngIf="noActualizar" class="wrapper">
          <button class="button" ion-button full color="secondary" (click)="doConfirm()">Actualizar evaluacion</button>
          <button ion-button full color="danger" (click)="atrasFunc()">Atras</button>
        </div>	
        
      </div>
    </div>
  </form>
</ion-content>
