<components-header pageName="Perfil Estudiante"></components-header>

<ion-content padding>
	<img src="assets/imgs/perfil_default.png" class="center">
    <ion-list>
	  <ion-item>
	    <ion-label color="dark">
	    	<ion-icon name="contact" item-start></ion-icon>
	      	Nombres:
	    </ion-label>
	    <ion-input type="text" value="Diego Alonso" disabled={{noActualizar}} text-right></ion-input>
	  </ion-item>

	  <ion-item>
	  	<ion-label color="dark">
	  		<ion-icon name="contacts" item-start></ion-icon>
	      	Apellidos:
	  	</ion-label>
	    <ion-input type="text" value="Flores Tambo" disabled={{noActualizar}} text-right></ion-input>
	  </ion-item>

	  <ion-item>
	  	<ion-label color="dark">
	  		 <ion-icon name="ios-people" item-start></ion-icon>
	      		Sexo:
	  	</ion-label>
	    <ion-select placeholder="Masculino" disabled={{noActualizar}}>
	    	<ion-option value="M">Masculino</ion-option>
	    	<ion-option value="F">Femenino</ion-option>
	    	<ion-option value="NSP">Sin especificar</ion-option>
	    </ion-select>
	  </ion-item>

	  <ion-item>
	  	<ion-label color="dark">
	  		 <ion-icon name="logo-whatsapp" item-start></ion-icon>
	      		Celular:
	  	</ion-label>
	   	<ion-input type="text" value="999 9999" disabled={{noActualizar}} text-right></ion-input>
	  </ion-item>

	  <ion-item>
	  	<ion-label color="dark">
	  		 <ion-icon name="ios-home" item-start></ion-icon>
	      		Direccion:
	  	</ion-label>
	   	<ion-input type="text" value="Calle Siempre Viva" disabled={{noActualizar}} text-right></ion-input>
	  </ion-item>

	  <ion-item>
	  	<ion-label color="dark">
	  		 <ion-icon name="finger-print" item-start></ion-icon>
	      		Tipo Documento:
	  	</ion-label>
	    <ion-select placeholder="DNI" disabled={{noActualizar}}>
	    	<ion-option value="DNI">DNI</ion-option>
	    	<ion-option value="RUC">RUC</ion-option>
	    </ion-select>
	  </ion-item>

	  <ion-item>
	  	<ion-label color="dark">
	  		 <ion-icon name="barcode" item-start></ion-icon>
	      		# Documento:
	  	</ion-label>
	    <ion-input type="text" value="939785943" disabled={{noActualizar}} text-right></ion-input>
	  </ion-item>

	  <ion-item>
	  	<ion-label color="dark">
	  		 <ion-icon name="ios-ice-cream" item-start></ion-icon>
	      		Cumpleaños:
	  	</ion-label>
	    <ion-datetime displayFormat="MMM DD YYYY" disabled={{noActualizar}} placeholder="Jul 28 1995" text-right></ion-datetime>
	  </ion-item>

	  <ion-item>
	  	<ion-label color="dark">
	  		 <ion-icon name="md-school" item-start></ion-icon>
	      		Institucion:
	  	</ion-label>
	    <ion-select placeholder="UNI" disabled={{noActualizar}}>
	    	<ion-option value="UNI">UNI</ion-option>
	    	<ion-option value="SMP">SMP</ion-option>
	    	<ion-option value="UNMSM">UNMSM</ion-option>
	    	<ion-option value="UPC">UPC</ion-option>
	    	<ion-option value="PUCP">PUCP</ion-option>
	    </ion-select>
	  </ion-item>	  
	</ion-list>

	<div *ngIf="noActualizar" class="wrapper">
		<button class="button" ion-button full color="secondary" (click)="actualizarData()">Actualizar</button>
	</div>
	<div *ngIf="!noActualizar" class="wrapper">
		<button class="button" ion-button full color="secondary" (click)="doConfirm()">Actualizar perfil</button>
		<button class="button" ion-button full color="primary" (click)="atrasData()">Atras</button>
	</div>	
	<br>
</ion-content>
