page-reset-password {
    .background {
		background-image: url('https://cdn5.ipadizate.es/2017/06/iOS-7-Wallpaper-640x1138.jpg')		
	}

	.card-header{
		font-size: 2.5rem;
	}

	.scroll-content{
		text-align : center;
	}

	ion-card.card{
		background: rgba(232,230,230,0.9px);
		border-radius: 10px;
	}

	.item{
		background: rgba(232,230,230,0px);
	}

	ion-input{
		border-bottom : rgb(68, 175, 207) solid 1px;
	}

	h1{
		color : #fff;
		font-size : 3em;
		font-weight : lighter;
		font-family: 'Gill Sans' , 'Gill Sans MT' , Calibri, 'Trebuchet M5', sans-serif;
		font-variant: small-caps;
	}

	.item h2{
		text-align: center;
		font-weight: bold;
		font-variant: small-caps;
	}
	
	.item p{
		color : red;
	}

}
